
.card{
    max-width: 600px;
    flex-direction: column;
    flex-basis: 43%;
}


.card__title{
    margin-top:0;
    padding-bottom: 32px;
    margin-bottom: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.card__list{
    font-family:"Noto Serif",'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
}

.card__list-item{
    padding-bottom: 16px;
    display: flex;
    
}
.menu__card-list-item:last-child{
    padding-bottom:0;
}

.card__list-divider{
    flex-grow: 1;
    border-bottom: 1px solid white;
    margin:0 10px 0 10px;
}


.card:last-child{
    margin-top: 100px;
}
